#menu {
    position: absolute;
    width: 100%; /* Full width on small screens */
    height: 50vh; /* Half height on small screens */
    overflow: auto;
}

#main-display {
    margin-top: 50vh; /* Push down main display on small screens */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh; /* Half height on small screens */
    flex-direction: column;
}

#randomize-button {
    padding: 5px; /* Larger size for smaller screens */
    font-size: 1.5em; /* Larger font size for smaller screens */
}

/* Styles for screens wider than 600px */
@media screen and (min-width: 600px) {
    
    #menu {
        width: 200px;
        height: 100%;
    }

    #main-display {
        margin-top: 0;
        margin-left: 200px;
        height: calc(100vh - 50px);
    }

    #randomize-button {
        padding: 10px; /* Default size for larger screens */
        font-size: 3em; /* Default font size for larger screens */
    }
}

#main-flag {
    border: 2px solid black; /* Adjust as needed */
    max-width: 100%; 
    height: auto; 
    margin-left: 10px;
}

#country-name {
    font-size: 4em;
}

#flags-list {
    list-style-type: none;
    padding: 0;
}

#flags-list li {
    cursor: pointer;
}